<div class="blast-box">
    <div class="blast-frame">
        <p>Color schemes</p>
        <div class="blast-colors d-flex justify-content-center">
            <div class="blast-color">#00a8e0</div>
            <div class="blast-color">#ff322e</div>
            <div class="blast-color">#ff9900</div>
            <div class="blast-color">#34bf49</div>
            <!-- you can add more colors here -->
        </div>
        <p class="blast-custom-colors">Select Color</p>
        <input type="color" name="blastCustomColor" value="#cf2626">
    </div>
    <div class="blast-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
</div>