<footer class="sticky-footer bg-gradient-blue">
    <div class="container my-auto">
        <div class="copyright text-center my-auto text-light">
            <span>All copyrights reserved &copy; KTBank 2020</span>
        </div>
    </div>
</footer>