.bg-night {
    background: url("../img/night.jpg") no-repeat center center fixed;
}

.bg-forest {
    background: url("../img/forest.jpg") no-repeat center center fixed;
}

.bg-footer {
    background: url("../img/night.jpg") no-repeat center center fixed;
}

.bg-card {
    background-color: rgba(39, 39, 39, 0.7);
}

.bg-opacity {
    background-color: rgba(39, 39, 39, 0.6);
}

.bg-form {
    background-color: rgba(39, 39, 39, 0.8);
}

.bg-gradient-blue {
    background: rgb(85,135,227);
    background: linear-gradient(0deg, rgba(85,135,227,1) 0%, rgba(12,20,84,1) 100%);
}

.footer-text {
    opacity: 0.8;
    position: absolute;
    width: 100%;
  }

.logo {
    text-align: center;
}

a.brand-logo {
    color: #000000;
    color: #fff;
    font-size: 40px;
}

body {
    background: url("../img/night.jpg") no-repeat center center fixed;
}

label, input {
    color: #fff;
}

.card-wh {
    max-width: 200px;
    min-width: 140px;
    min-height: 135px;
    max-height: 135px;
    margin-bottom: 10px;
    margin-right: 10px;
}
