<nav class="navbar navbar-expand-lg top-bar bg-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <a class="navbar-brand mx-auto" href="index.html"><span class="text-light">KT</span> <span data-blast="color">Bank</span></a>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="#myCarousel" data-blast="color">Trang chủ</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#services" data-blast="color">Chuyển tiền</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#about" data-blast="color">Thanh toán hóa đơn</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#gallery" data-blast="color">Nạp tiền</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#book" data-blast="color">Quản lý thẻ</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#contact" data-blast="color">Tiết kiệm</a> </li>
            </ul>
        </div>
    </div>
</nav>
{{yield}}