<div id="inform-page">
    <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message">
            <h1 class="alert text-light">Thành công!</h1>
            <p class="text-light">Bấm "Tiếp tục" để trở lại trang chủ.</p>
        </div>
        <div class="log-in mt-md-4 mt-3">
            <a class="btn text-uppercase text-light bg-gradient-blue" href="#">Tiếp tục</a>
        </div>
    </div>
</div>