<div class="message">
    <h1 class="alert text-light">Giao dịch thành công!</h1>
    <p class="text-light ml-4">Bấm "Tiếp tục" để trở lại trang chủ.</p>
</div>
<div class="log-in mt-md-4 mt-3">
    <LinkTo @route="home" class="btn btn-primary text-white theme-button mt-4 mb-4 ml-4" data-blast="color">Tiếp tục
    </LinkTo>
</div>
<ChangeColor />