<div class="bg-night">
    <div class="container">
        <!-- Outer Row -->
        <div class="logo pt-4">
            <LinkTo @route="home" class="brand-logo text-decoration-none"><span data-blast="color">KT</span>Bank</LinkTo>
            <p class="text-light">Kính chào quý khách</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 mb-4" data-blast="color">Quên mật khẩu!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <Input type="text" @value={{@model.email}} class="form-control form-control-user"
                                                id="InputEmail" placeholder="Địa chỉ Email" />
                                        </div>
                                        <a class="btn btn-primary btn-user btn-block text-light font-weight-bold" data-blast="bgColor" {{on 'click' this.forgot}}>
                                            Xác nhận
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <LinkTo @route="register" class="small" data-blast="color">Đăng ký</LinkTo>
                                    </div>
                                    <div class="text-center">
                                        <LinkTo @route="login" class="small" data-blast="color">Đã có tài khoản? Đăng nhập!</LinkTo>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <footer class="sticky-footer bg-footer footer-text">
        <div class="container my-auto">
            <div class="copyright text-center my-auto text-light">
                <span>Copyright &copy; KTBank 2020</span>
            </div>
        </div>
    </footer>
</div>
<div id="snackbar">Welcome to KTBank!</div>
<ChangeColor />